[data-bs-theme=dark] {
  --bs-primary: #767c82;
  --bs-primary-rgb: 118,124,130;
  --bs-primary-text-emphasis: #ADB0B4;
  --bs-primary-bg-subtle: #18191A;
  --bs-primary-border-subtle: #474A4E;
  --bs-secondary: #bbbdbf;
  --bs-secondary-rgb: 187,189,191;
  --bs-secondary-text-emphasis: #D6D7D9;
  --bs-secondary-bg-subtle: #252626;
  --bs-secondary-border-subtle: #707173;
  --bs-body-color: #bbbdbf;
  --bs-body-color-rgb: 187,189,191;
  --bs-secondary-color: rgba(187,189,191,0.75);
  --bs-secondary-color-rgb: 187,189,191,0.75;
  --bs-tertiary-color: rgba(187,189,191,0.5);
  --bs-tertiary-color-rgb: 187,189,191,0.5;
  --bs-body-font-family: Amiko, sans-serif;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #767c82;
  --bs-btn-border-color: #767c82;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #8B9095;
  --bs-btn-hover-border-color: #84898F;
  --bs-btn-focus-shadow-rgb: 18,19,20;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #91969B;
  --bs-btn-active-border-color: #84898F;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #767c82;
  --bs-btn-disabled-border-color: #767c82;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #767c82;
  --bs-btn-border-color: #767c82;
  --bs-btn-focus-shadow-rgb: 118,124,130;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #767c82;
  --bs-btn-hover-border-color: #767c82;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #767c82;
  --bs-btn-active-border-color: #767c82;
  --bs-btn-disabled-color: #767c82;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #767c82;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #bbbdbf;
  --bs-btn-border-color: #bbbdbf;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C5C7C9;
  --bs-btn-hover-border-color: #C2C4C5;
  --bs-btn-focus-shadow-rgb: 28,28,29;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #C9CACC;
  --bs-btn-active-border-color: #C2C4C5;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #bbbdbf;
  --bs-btn-disabled-border-color: #bbbdbf;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #bbbdbf;
  --bs-btn-border-color: #bbbdbf;
  --bs-btn-focus-shadow-rgb: 187,189,191;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #bbbdbf;
  --bs-btn-hover-border-color: #bbbdbf;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #bbbdbf;
  --bs-btn-active-border-color: #bbbdbf;
  --bs-btn-disabled-color: #bbbdbf;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #bbbdbf;
}

