span {
  visibility: hidden;
  opacity: 0;
  transition: all 2.5s;
  cursor: default;
}

span.clickable {
  visibility: visible;
  opacity: 1;
  color: var(--bs-secondary);
  cursor: help;
}

span.show {
  visibility: visible;
  opacity: 1;
  color: var(--bs-primary);
  display: inline-block;
}

a:link {
  color: var(--bs-secondary);
  cursor: help;
  text-decoration: none;
}

a:visited {
  color: var(--bs-primary-border-subtle);
}

